*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  padding: 60px 0
  &--dark
    color: $light
  &-title
    text-align: center
    &--left
      text-align: left
    &--light
      color: $light
      position: relative
    &__subtitle
      font-size: 1.07rem
      line-height: 1.5rem
      font-weight: 500
      text-transform: uppercase
    &__heading
      text-transform: uppercase
      font-family: 'Yeseva One', cursive
      font-weight: normal
      line-height: 136.8%
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        width: 90px
        height: 2px
        background-color: $primary
        margin-left: 5rem
    &__text
      font-size: 1.28rem
      line-height: 2.07rem
      max-width: 31.57rem
      &--width
        max-width: 740px
        margin: 1.1rem auto 5.78rem auto
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::after, &::before
        content: ''
        margin: 0 10px
        width: 32px
        height: 2px
        background-color: $primary
    &__text
      text-align: center
      font-family: 'Futura Book', sans-serif
      text-transform: none
      font-size: 1.43rem
      line-height: 1.93rem
      &--left
        text-align: left
      