.design
  position: relative
  &::after
    position: absolute
    top: 52%
    left: 0
    content: ''
    background: url('../img/background-lines.svg') no-repeat center/cover , $dark
    height: 100%
    width: 100%
    z-index: -99
